
#my_fifteen_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.myfifteen-item, .add_fifteen {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#my_fifteen_list img {
  border-radius: 50%;
  width: 97px;
  height: 97px;
  object-fit: cover;
}

#my_fifteen_list h5 {
  margin-top: 5px;
  margin-bottom: 5px;
}


.miss_details_15{
  font-family: 'Albert Sans SemiBold', sans-serif;
  font-size: 15px;
  color:white;
  text-align: center;
  margin-left: 10px;
}

.myfifteen-item {
  position: relative;
}

.delete-button {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.delete-icon {
  width: 24px;
  height: 24px;

}

.add_fifteen{
  display: flex;
  justify-content: center;
  align-items: center;
  height:97px;
  width:97px;
  position: relative;
}
