<div data-autocomplete-search-target = "list">
<% @sorted_misses.each do |miss| %>
  <%= link_to new_year_miss_category_path(@year, miss), remote: true, data: { turbo_frame: "modal" } do %>
    <div class="card_miss">
      <div class="miss_item">
        <div><%= image_tag "#{miss.photo}.jpg", style: 'height:72px;width:72px;border-radius:50px;margin-left:10px;margin-right:30px;border:1px solid #D1589E;'%></div>
        <div><h5><%=miss.region %></h5></div>
      </div>
    </div>
  <% end %>
<% end %>
</div>
