<ul>
  <li><%= link_to "Mon top 15", year_myfifteens_path(@year) %></li>
  <li><%= link_to "Mon top 5", year_mycinqs_path(@year) %></li>
  <li><%= link_to "Ma finale", year_my_winner_path(@year) %></li>
</ul>
<%= render "shared/bottombar" %>
