<ul>
  <li><%= link_to "Vrai top 15", realfifteen_year_path(@year) %></li>
  <li><%= link_to "Vrai top 5", realcinq_year_path(@year) %></li>
  <li><%= link_to "La vraie finale", real_winner_year_path(@year) %></li>
</ul>
