<div class="list_of_groups">
  <div class="card_group">
    <h5><%= link_to "Le vrai top 15", realfifteen_year_path(@year) %></h5>
  </div>
  <div class="card_group">
    <h5><%= link_to "Le vrai top 5", realcinq_year_path(@year) %></h5>
  </div>
  <div class="card_group">
    <h5><%= link_to "La vraie finale", real_winner_year_path(@year) %></h5>
  </div>
</div>

<%= render "shared/bottombar" %>
