.bottom_bar{
  height: 83px;
  background-color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 5;
  display: flex;
  flex-direction: row;
}

.bottom_item{
  font-family: 'Albert Sans SemiBold', sans-serif;
  font-size: 10px; /* Corrected typo */
  color: black;
  text-decoration: none;
  width: 68px;
  height: 25px;
  text-align: center;
  margin: 15px;
}

.bottom_item a,
.bottom_item a:link,
.bottom_item a:visited,
.bottom_item a:hover,
.bottom_item a:active,
.bottom_item a:focus {
  color: black; /* This sets the text color to black */
  text-decoration: none; /* This removes the underline */
}

.icon{
  display: flex;
  flex-direction: column;
}

.picto{
  margin-bottom: 8px;
}
